html {
    font-family: sans-serif;
    font-size: 11pt;
}

.map-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

ul.alternatives {
    list-style: none;
    padding-left: 0;
}

.alternatives li {
    margin-bottom: 4px;
}

.address small {
    display: block;
    font-size: normal;
    color: #aaa;
}

.user-info button {
    display: block;
    float: right;
}

.user-info {
    position: absolute;
    z-index: 5;
    top: 10px;
    left: 44px;
    max-width: 400px;
}

.leaflet-routing-container h2 {
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 0;
}

.leaflet-routing-container h3 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
}

.leaflet-routing-container .geocoder-handle {
    padding: 0;
    width:20px;
    height:20px;
    border-radius:50%;
    font-size:12px;
    font-weight: bold;
    background:#da8;
    line-height:20px;
    text-align:center;
    color:white;
    display: inline-block;
    cursor: pointer;
}

.leaflet-routing-geocoders input {
    margin-left: 4px;
    width: 279px;
    width: calc(100% - 28px);
}

.hide {
    display: none;
}

.geocoder-geolocate-btn {
    position: relative;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.geocoder-geolocate-btn:after {
    position: absolute;
    display: block;
    width: 15px;
    height: 1px;
    z-index: 1;
    right: 16px;
    top: 6px;
    bottom: 0;
    margin: auto;
    padding: 2px;
    font-size: 24px;
    font-weight: normal;
    content: "\2316";
    text-align: center;
    cursor: pointer;
    color: #ccc;
    background: white;
    padding-bottom: 16px;
    margin-top: -16px;
    padding-right: 4px;
    line-height: 0.5;
}

.geolocate-btn:after {
    position: relative;
    top: -4px;
    content: '\2316';
    font: 28px 'Lucida Console', Monaco, monospace;
}

.elevation-control {
    background: white;
    font-size: 9px;
}

.elevation-control path { 
  stroke: steelblue;
  stroke-width: 1;
  fill: none;
}
 
.elevation-control .axis path,
.elevation-control .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
