<div ref:map>
</div>

<script>
	export default {
		async oncreate () {
			const { default: mapboxgl } = await import('mapbox-gl')

			mapboxgl.accessToken = 'pk.eyJ1IjoibGllZG1hbiIsImEiOiI1TXRSbUI4In0.EMQ3W8jAteath85pR800ag'

			const { zoom, center } = this.store.get()

			const map = this._map = new mapboxgl.Map({
				container: this.refs.map,
		    style: 'mapbox://styles/mapbox/outdoors-v10',
		    center,
		    zoom
			})

			const listener = this.store.on('state', ({ current }) => {
				map.easeTo(current)
			})

			this.on('destroy', listener.cancel)
		}
	}
</script>

<style>
	div {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
</style>