<h2>Vad är detta?</h2>
<p>
    <em>Cykelbanor</em> hjälper dig att hitta vägen när du cyklar.
    Skriv in en till- och frånadress, eller klicka på kartan,
    så försöker vi hitta en lämplig cykelväg mellan platserna.
</p>
<p>
    Cykelbanor är för närvarande under utveckling - saker kommer
    med säkerhet bli bättre och fler funktioner kommer med tiden,
    men förhoppningsvis har du användning av tjänsten redan idag.
</p>
<h3>Hur?</h3>
<p>
    <em>Cykelbanor</em> använder vägar och karta från
    <a href="//openstreetmap.org">OpenStreetMap</a>, en karta
    som byggs av användarna själva, ungefär som Wikipedia. Om
    vägen eller kartan inte skulle stämma, kan du själv rätta
    till felet genom att trycka på <em>Edit in OSM</em> i
    nedre högra hörnet.
</p>
<h3>Vem?</h3>
<p>
    <em>Cykelbanor</em> är ett fritidsprojekt av
    <a href="http://www.liedman.net/about/">Per Liedman</a>.
    Hör av dig till mig på
    <a href="mailto:per@liedman.net">per@liedman.net</a> eller
    <a href="https://twitter.com/liedman/">@liedman</a> om du
    har synpunkter eller frågor.
</p>
