<div>
    <div class="ui raised segment">
        <div class="section">
            <i class="map marker icon"></i><span class="address" data-address></span>
        </div>
        <div class="section">
            <button class="ui button primary" type="button" data-from>Åk härifrån</button>
            <button class="ui button primary" type="button" data-to>Åk hit</button>
        </div>
    </div>

    <div class="ui raised segment hide" data-nearby-container>
      <a class="ui blue ribbon label">I närheten</a>
      <div class="ui list" data-nearby>
      </div>
    </div>
</div>
