<div>
    <div class="ui label">
        <i class="map marker icon"></i><span class="address" data-address></span>
    </div>
    <ul class="alternatives">
        <li><button class="ui button" type="button" data-from>Åk härifrån</button></li>
        <li><button class="ui button" type="button" data-to>Åk hit</button></li>
    </ul>
</div>