<div class="ui card">
    <div class="content">
        <div class="header"><i class="maki maki-lg maki-{{properties.maki}}"></i>&nbsp;{{properties.name}}</div class="header">
        <div class="hide" data-details></div>
        <a href="" class="hide" data-website></a>
    </div>
</div>
