<div class="ui card">
    <div class="content">
        <div class="header"><i class="maki maki-lg maki-{{properties.maki}}"></i>&nbsp;{{properties.name}}</div class="header">
        <div class="hide" data-details></div>
        <a href="" class="hide" data-website></a>

        <div class="section">
            <button class="ui button primary" type="button" data-from>Åk härifrån</button>
            <button class="ui button primary" type="button" data-to>Åk hit</button>
        </div>
    </div>
</div>
